apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: default
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318
          grpc:
            endpoint: 0.0.0.0:4317

    processors:
      memory_limiter:
        limit_mib: 400
        spike_limit_mib: 100
        check_interval: 1s 
      batch:
        timeout: 10s
        send_batch_size: 1024
      cumulativetodelta:
        # Required for metrics pipeline

    exporters:
      otlphttp/dynatrace:
        endpoint: "endpoint: "https://dtu72444.apps.dynatrace.com"
        headers:
          Authorization: "Api-Token ${env:DT_API_TOKEN}"
      
      debug:
        verbosity: detailed

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [otlphttp/dynatrace, debug]
        
        metrics:
          receivers: [otlp]
          processors: [memory_limiter, cumulativetodelta, batch]
          exporters: [otlphttp/dynatrace, debug]
        
        logs:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [otlphttp/dynatrace, debug]