apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          http: {}
          grpc: {}

    processors:
      memory_limiter:
        limit_mib: 400
        spike_limit_mib: 100
      batch: {}

    exporters:
      otlphttp/dynatrace:
        endpoint: https://dtu72444.apps.dynatrace.com/api/v2/otlp 
        headers:
          Authorization: "Api-Token ${DT_API_TOKEN}"

    service:
      pipelines:
        traces:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
          exporters:
            - otlphttp/dynatrace

        logs:
          receivers:
            - otlp
          processors:
            - batch
          exporters:
            - otlphttp/dynatrace
