# Fix 1: Change namespace to default
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: default
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          http: {}
          grpc: {}

    processors:
      memory_limiter:
        limit_mib: 400
        spike_limit_mib: 100
      batch: {}

    exporters:
      otlphttp/dynatrace:
        # Fix 2: Use an environment variable for the endpoint, defined in the Deployment
        endpoint: "${env:DT_ENDPOINT_URL}" 
        headers:
          # Fix 3: Use an environment variable for the token, defined in the Deployment
          Authorization: "Api-Token ${env:DT_API_TOKEN}" 

    service:
      pipelines:
        traces:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
          exporters:
            - otlphttp/dynatrace