apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - image: vedranregistry99.azurecr.io/result
        name: result
        ports:
        - containerPort: 80
          name: result
        env:
        - name: POSTGRES_CONNECTION_STRING
          value: "postgres://postgres:postgres@db-0.db/postgres"
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
      imagePullSecrets:
      - name: acr-secret