apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
      annotations:
        oneagent.dynatrace.com/inject: "false"
    spec:
      
      containers:
      - image: vedranregistry99.azurecr.io/vote
        name: vote
        ports:
        - containerPort: 80
          name: vote
        
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
      imagePullSecrets:
      - name: acr-secret