apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  labels:
    app: vote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
      annotations:
        oneagent.dynatrace.com/inject: "false"
    spec:
      containers:
        - name: vote
          image: vedranregistry99.azurecr.io/vote
          ports:
            - name: vote
              containerPort: 80

          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://dynatrace-otel-collector:4318"
 
            - name: DT_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: dynatrace-token
                  key: api-token

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

      imagePullSecrets:
        - name: acr-secret
