apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      # --- RESTORED: CSI Volume for OneAgent Injection ---
      volumes:
      - name: dynatrace-oneagent
        csi:
          driver: csi.dynatrace.com 
          readOnly: true
          volumeAttributes:
            tenant: "dynatrace" 

      containers:
      - image: vedranregistry99.azurecr.io/worker
        name: worker
        
        volumeMounts:
        - name: dynatrace-oneagent
          mountPath: /opt/dynatrace/oneagent
        
        
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
      imagePullSecrets:
      - name: acr-secret