apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
      annotations:
        oneagent.dynatrace.com/inject: "false"
    spec:
      containers:
        - name: worker
          image: vedranregistry99.azurecr.io/worker
          ports: []
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://dynatrace-otel-collector:4318/v1/traces"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
      imagePullSecrets:
        - name: acr-secret
